<div class="bootstrap-wrapper mt25">
    <div class="container">
    
       <div class="row text-center">
        <div class="col-md-6 offset-md-3 colborder">
            <mat-card >
                <h1>Register here !!</h1>
           <form [formGroup]="form" (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="userName" matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Password">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput placeholder="Phone number">
            </mat-form-field>
            <button mat-raised-button color="primary">Register</button>
           </form>
        </mat-card>
        </div>
       </div>

    </div>
        
</div>